* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-container {
  background-color: #1f2937;
  padding: 7px 300px 100px 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.navigation-links {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

#logo a {
  font-size: 24px;
  color: #f9faf8;
}

.hero-container {
  box-sizing: border-box;
  display: flex;
  /* min-height: 150px; */
  justify-content: center;
  gap: 40px;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.right-side {
  display: flex;
  flex: 1 1 0;
  margin: 0;
}

.img-placeholder {
  background-color: gray;
  flex: 1 1 0;
  /* min-height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#sign-up-btn {
  box-sizing: border-box;
  background-color: #3882f6;
  color: white;
  border: none;
  flex: 0 1 0;
  min-width: 150px;
  padding: 10px 30px 10px 30px;
  font-family: "Roboto";
  font-weight: 700;
  border-radius: 12px;
}

.hero-main-txt {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.hero-second-txt {
  font-size: 18px;
  color: #f9faf8;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

li div {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.img-box {
  min-width: 150px;
  min-height: 150px;
  flex: 1;
}

div h2 {
  margin: 30px;
}

.column-box {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  background-color: #e5e7eb;
}

.quote-box {
  flex: 1 1 1;
  width: 720px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#quote-txt {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

div span {
  align-self: flex-end;
  font-weight: bold;
}

.action-container {
  background-color: #3882f6;
  color: white;
  margin: 100px 300px 100px 300px;
  display: flex;
  padding: 40px 100px 40px 100px;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

#bold {
  font-weight: 700;
}

.left-side p {
  color: #e5e7eb;
}

.right-side-btn #sign-up-btn {
  border: 2px solid white;
}
